<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Mobile Web-app fullscreen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Meta tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <!--Title-->
    <title>INTELLMEB - мебель на заказ</title>

    <!--CSS bundle -->
    <link rel="stylesheet" media="all" href="/css/bootstrap.min.css">
    <link rel="stylesheet" media="all" href="/css/bundle.min.css">

    <!--Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="js/jquery.min.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>

  <body>

    <div class="page-loader"></div>

    <div class="wrapper">

      <div class="inc:_header.html">
        <!-- ==================  Navigation (main menu) ================== -->
        <script type="text/javascript" src="js/header.js"></script>

        <!--Use class "navbar-fixed" or "navbar-default" -->
        <!--If you use "navbar-fixed" it will be sticky menu on scroll (only for large screens)-->

        <!-- ======================== Navigation ======================== -->

        <nav class="navbar-fixed">

          <div class="container">

            <!-- ==========  Top navigation ========== -->

            <div class="navigation navigation-top clearfix">
              <ul>
                <!--add active class for current page-->

                <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
                <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
                <li><a href="tel: +74959466095"><i class="icon icon-phone-handset"></i> 8 (495) 946-60-95</a></li>
                <li><a href="mailto: info@intellmeb.ru"><i class="icon icon-envelope"></i> info@intellmeb.ru</a></li>

                <!--[>Currency selector<]-->

                <!--<li class="nav-settings">-->
                <!--<a href="javascript:void(0);" class="nav-settings-value"> USD $</a>-->
                <!--<ul class="nav-settings-list">-->
                <!--<li>USD $</li>-->
                <!--<li>EUR €</li>-->
                <!--<li>CHF Fr.</li>-->
                <!--<li>GBP £</li>-->
                <!--</ul>-->
                <!--</li>-->

                <!--[>Language selector<]-->

                <!--<li class="nav-settings">-->
                <!--<a href="javascript:void(0);" class="nav-settings-value"> ENG</a>-->
                <!--<ul class="nav-settings-list">-->
                <!--<li>ENG</li>-->
                <!--<li>GER</li>-->
                <!--<li>لعربية</li>-->
                <!--<li>עִבְרִית</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="javascript:void(0);" class="open-login"><i class="icon icon-user"></i></a></li>-->
                <!--<li><a href="javascript:void(0);" class="open-search"><i class="icon icon-magnifier"></i></a></li>-->
                <!--<li><a href="javascript:void(0);" class="open-cart"><i class="icon icon-cart"></i> <span>3</span></a></li>-->
              </ul>
            </div> <!--/navigation-top-->

            <!-- ==========  Main navigation ========== -->

            <div class="navigation navigation-main">

              <!-- Setup your logo here-->

              <a href="index.html" class="logo"><img src="/images/logo.svg" alt=""></a>

              <!-- Mobile toggle menu -->

              <a href="#" class="open-menu"><i class="icon icon-menu"></i></a>

              <!-- Convertible menu (mobile/desktop)-->

              <div class="floating-menu">

                <!-- Mobile toggle menu trigger-->

                <div class="close-menu-wrapper">
                  <span class="close-menu"><i class="icon icon-cross"></i></span>
                </div>

                <ul>
                  <!--<li><a href="index.html">Home</a></li>-->

                  <!-- Multi-content dropdown -->

                  <li>
                    <a href="index.html">О нас</a>
                  </li>

                  <!-- Single dropdown-->

                  <li>
                    <a href="#">Портфолио</a>
                  </li>

                  <!-- Furniture icons in dropdown-->

                  <li>
                    <a href="category.html">Преимущества</a>
                  </li>

                  <!-- Mega menu dropdown -->

                  <li>
                    <a href="#">Идеи</a>
                  </li>

                  <!-- Simple menu link-->

                  <li><a href="shortcodes.html">Контакты</a></li>
                </ul>
              </div> <!--/floating-menu-->
            </div> <!--/navigation-main-->

            <!-- ==========  Search wrapper ========== -->

            <!--<div class="search-wrapper">-->

            <!--[> Search form <]-->
            <!--<input class="form-control" placeholder="Search...">-->
            <!--<button class="btn btn-main btn-search">Go!</button>-->

            <!--[> Search results - live search <]-->
            <!--<div class="search-results">-->
            <!--<div class="search-result-items">-->
            <!--<div class="title h4">Products <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>-->
            <!--<ul>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Green corner</span> <span class="category">Sofa</span></a></li>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Laura</span> <span class="category">Armchairs</span></a></li>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Nude</span> <span class="category">Dining tables</span></a></li>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Aurora</span> <span class="category">Nightstands</span></a></li>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Dining set</span> <span class="category">Kitchen</span></a></li>-->
            <!--<li><a href="#"><span class="id">42563</span> <span class="name">Seat chair</span> <span class="category">Bar sets</span></a></li>-->
            <!--</ul>-->
            <!--</div> [>/search-result-items<]-->
            <!--<div class="search-result-items">-->
            <!--<div class="title h4">Blog <a href="#" class="btn btn-clean-dark btn-xs">View all</a></div>-->
            <!--<ul>-->
            <!--<li><a href="#"><span class="id">01 Jan</span> <span class="name">Creating the Perfect Gallery Wall </span> <span class="category">Interior ideas</span></a></li>-->
            <!--<li><a href="#"><span class="id">12 Jan</span> <span class="name">Making the Most Out of Your Kids Old Bedroom</span> <span class="category">Interior ideas</span></a></li>-->
            <!--<li><a href="#"><span class="id">28 Dec</span> <span class="name">Have a look at our new projects!</span> <span class="category">Modern design</span></a></li>-->
            <!--<li><a href="#"><span class="id">31 Sep</span> <span class="name">Decorating When You're Starting Out or Starting Over</span> <span class="category">Best of 2017</span></a></li>-->
            <!--<li><a href="#"><span class="id">22 Sep</span> <span class="name">The 3 Tricks that Quickly Became Rules</span> <span class="category">Tips for you</span></a></li>-->
            <!--</ul>-->
            <!--</div> [>/search-result-items<]-->
            <!--</div> [>/search-results<]-->
            <!--</div>-->

            <!-- ==========  Login wrapper ========== -->

            <!--<div class="login-wrapper">-->
            <!--<form>-->
            <!--<div class="h4">Sign in</div>-->
            <!--<div class="form-group">-->
            <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">-->
            <!--</div>-->
            <!--<div class="form-group">-->
            <!--<a href="#forgotpassword" class="open-popup">Forgot password?</a>-->
            <!--<a href="#createaccount" class="open-popup">Don't have an account?</a>-->
            <!--</div>-->
            <!--<button type="submit" class="btn btn-block btn-main">Submit</button>-->
            <!--</form>-->
            <!--</div>-->

            <!-- ==========  Cart wrapper ========== -->

            <!--<div class="cart-wrapper">-->
            <!--<div class="checkout">-->
            <!--<div class="clearfix">-->

            <!--[>cart item<]-->

            <!--<div class="row">-->

            <!--<div class="cart-block cart-block-item clearfix">-->
            <!--<div class="image">-->
            <!--<a href="product.html"><img src="/images/product-1.png" alt=""></a>-->
            <!--</div>-->
            <!--<div class="title">-->
            <!--<div><a href="product.html">Green corner</a></div>-->
            <!--<small>Green corner</small>-->
            <!--</div>-->
            <!--<div class="quantity">-->
            <!--<input type="number" value="2" class="form-control form-quantity">-->
            <!--</div>-->
            <!--<div class="price">-->
            <!--<span class="final">$ 1.998</span>-->
            <!--<span class="discount">$ 2.666</span>-->
            <!--</div>-->
            <!--[>delete-this-item<]-->
            <!--<span class="icon icon-cross icon-delete"></span>-->
            <!--</div>-->

            <!--[>cart item<]-->

            <!--<div class="cart-block cart-block-item clearfix">-->
            <!--<div class="image">-->
            <!--<a href="product.html"><img src="/images/product-2.png" alt=""></a>-->
            <!--</div>-->
            <!--<div class="title">-->
            <!--<div><a href="product.html">Green corner</a></div>-->
            <!--<small>Green corner</small>-->
            <!--</div>-->
            <!--<div class="quantity">-->
            <!--<input type="number" value="2" class="form-control form-quantity">-->
            <!--</div>-->
            <!--<div class="price">-->
            <!--<span class="final">$ 1.998</span>-->
            <!--<span class="discount">$ 2.666</span>-->
            <!--</div>-->
            <!--[>delete-this-item<]-->
            <!--<span class="icon icon-cross icon-delete"></span>-->
            <!--</div>-->

            <!--[>cart item<]-->

            <!--<div class="cart-block cart-block-item clearfix">-->
            <!--<div class="image">-->
            <!--<a href="product.html"><img src="/images/product-3.png" alt=""></a>-->
            <!--</div>-->
            <!--<div class="title">-->
            <!--<div><a href="product.html">Green corner</a></div>-->
            <!--<small>Green corner</small>-->
            <!--</div>-->
            <!--<div class="quantity">-->
            <!--<input type="number" value="2" class="form-control form-quantity">-->
            <!--</div>-->
            <!--<div class="price">-->
            <!--<span class="final">$ 1.998</span>-->
            <!--<span class="discount">$ 2.666</span>-->
            <!--</div>-->
            <!--[>delete-this-item<]-->
            <!--<span class="icon icon-cross icon-delete"></span>-->
            <!--</div>-->

            <!--[>cart item<]-->

            <!--<div class="cart-block cart-block-item clearfix">-->
            <!--<div class="image">-->
            <!--<a href="product.html"><img src="/images/product-4.png" alt=""></a>-->
            <!--</div>-->
            <!--<div class="title">-->
            <!--<div><a href="product.html">Green corner</a></div>-->
            <!--<small>Green corner</small>-->
            <!--</div>-->
            <!--<div class="quantity">-->
            <!--<input type="number" value="2" class="form-control form-quantity">-->
            <!--</div>-->
            <!--<div class="price">-->
            <!--<span class="final">$ 1.998</span>-->
            <!--<span class="discount">$ 2.666</span>-->
            <!--</div>-->
            <!--[>delete-this-item<]-->
            <!--<span class="icon icon-cross icon-delete"></span>-->
            <!--</div>-->
            <!--</div>-->

            <!--<hr>-->

            <!--[>cart prices <]-->

            <!--<div class="clearfix">-->
            <!--<div class="cart-block cart-block-footer clearfix">-->
            <!--<div>-->
            <!--<strong>Discount 15%</strong>-->
            <!--</div>-->
            <!--<div>-->
            <!--<span>$ 159,00</span>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="cart-block cart-block-footer clearfix">-->
            <!--<div>-->
            <!--<strong>Shipping</strong>-->
            <!--</div>-->
            <!--<div>-->
            <!--<span>$ 30,00</span>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="cart-block cart-block-footer clearfix">-->
            <!--<div>-->
            <!--<strong>VAT</strong>-->
            <!--</div>-->
            <!--<div>-->
            <!--<span>$ 59,00</span>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--<hr>-->

            <!--[>cart final price <]-->

            <!--<div class="clearfix">-->
            <!--<div class="cart-block cart-block-footer clearfix">-->
            <!--<div>-->
            <!--<strong>Total</strong>-->
            <!--</div>-->
            <!--<div>-->
            <!--<div class="h4 title">$ 1259,00</div>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->


            <!--[>cart navigation <]-->

            <!--<div class="cart-block-buttons clearfix">-->
            <!--<div class="row">-->
            <!--<div class="col-xs-6">-->
            <!--<a href="products-grid.html" class="btn btn-clean-dark">Continue shopping</a>-->
            <!--</div>-->
            <!--<div class="col-xs-6 text-right">-->
            <!--<a href="checkout-1.html" class="btn btn-main"><span class="icon icon-cart"></span> Checkout</a>-->
            <!--</div>-->
            <!--</div>-->
            <!--</div>-->

            <!--</div>-->
            <!--</div> [>/checkout<]-->
            <!--</div> [>/cart-wrapper<]-->
            <!--</div> [>/container<]-->
        </nav>
      </div>

      <!-- ========================  Header content ======================== -->

      <section class="header-content">

        <div class="owl-slider">

          <!-- === slide item === -->

          <div class="item" style="background-image:url(/images/slider/kitchen_slider_1.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">Современные кухни</h2>
                <div class="animated" data-animation="fadeInUp">
                  Современные и функциональные кухни по индивидиуальным размерам</br>
                  теперь доступны для Вас
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main">Заказать</a>
                </div>
              </div>
            </div>
          </div>

          <!-- === slide item === -->

          <div class="item" style="background-image:url(/images/slider/wardrobe_slider_1.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">Индивидуальные гардеробные</h2>
                <div class="animated" data-animation="fadeInUp">Гардеробные любой сложности</div>
                <div class="animated" data-animation="fadeInUp">по индивидуальным чертежам</div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="category.html" class="btn btn-clean">Посчитать</a>
                </div>
              </div>
            </div>
          </div>

          <div class="item" style="background-image:url(/images/slider/children_2.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">Детские комнаты</h2>
                <div class="animated" data-animation="fadeInUp">
                  Самые неожиданные решения детских комнат порадуют Вашего малыша</br>
                  и не оставят равнодушными родителей 
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main">Как получить?</a>
                </div>
              </div>
            </div>
          </div>
          <!-- === slide item === -->

          <div class="item" style="background-image:url(/images/slider/kitchen_slider_2.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">
                  Уютные кухни
                </h2>
                <div class="desc animated" data-animation="fadeInUp">
                  Теперь Ваша кухня будет любим местом не только для хозяйки,
                </div>
                <div class="desc animated" data-animation="fadeInUp">
                  но и для всех членов ее семьи
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-clean">Заказать</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="background-image:url(/images/slider/wardrobe_slider_2.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">
                  Технологичные гардеробные
                </h2>
                <div class="desc animated" data-animation="fadeInUp">
                  Качественные и практичные системы хранения
                </div>
                <div class="desc animated" data-animation="fadeInUp">
                  делают Вашу гардеробную вместительнее и удобнее
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-clean">Купить такую</a>
                </div>
              </div>
            </div>
          </div>
          <div class="item" style="background-image:url(/images/slider/children_1.png)">
            <div class="box">
              <div class="container">
                <h2 class="title animated h1" data-animation="fadeInDown">Креативные решения</h2>
                <div class="animated" data-animation="fadeInUp">
                  Наши инструменты и опыт позволяют реализовать даже</br>
                  самые непредсказуемые идеи дизайнеров
                </div>
                <div class="animated" data-animation="fadeInUp">
                  <a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank" class="btn btn-main">Попробовать</a>
                </div>
              </div>
            </div>
          </div>

        </div> <!--/owl-slider-->
      </section>

      <!-- ========================  Icons slider ======================== -->

      <!--<section class="owl-icons-wrapper owl-icons-frontpage">-->

      <!--[> === header === <]-->

      <!--<header class="hidden">-->
      <!--<h2>Product categories</h2>-->
      <!--</header>-->

      <!--<div class="container">-->

      <!--<div class="owl-icons">-->

      <!--[> === icon item === <]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-sofa"></i><]-->
      <!--[><figcaption>Sofa</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[> === icon item === <]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-armchair"></i><]-->
      <!--[><figcaption>Armchairs</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[>[> === icon item === <]<]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-chair"></i><]-->
      <!--[><figcaption>Chairs</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[> === icon item === <]-->
      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-kitchen"></i>-->
      <!--<figcaption>Кухни</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-wardrobe"></i>-->
      <!--<figcaption>Шкафы-купе</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-shoe-cabinet"></i>-->
      <!--<figcaption>Гардеробные</figcaption>-->
      <!--</figure>-->
      <!--</a>-->
      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-dining-table"></i>-->
      <!--<figcaption>Обеденные столы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-media-cabinet"></i>-->
      <!--<figcaption>ТВ-тумбы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-table"></i>-->
      <!--<figcaption>Столы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-bookcase"></i>-->
      <!--rfigcaption>Книжные шкафы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-bedroom"></i>-->
      <!--<figcaption>Спальни</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-nightstand"></i>-->
      <!--<figcaption>Тумбы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-children-room"></i>-->
      <!--<figcaption>Детские</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->


      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-bathroom"></i>-->
      <!--<figcaption>Ванны</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->


      <!--[> === icon item === <]-->

      <!--<a href="#">-->
      <!--<figure>-->
      <!--<i class="f-icon f-icon-office"></i>-->
      <!--<figcaption>Офисы</figcaption>-->
      <!--</figure>-->
      <!--</a>-->

      <!--[> === icon item === <]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-bar-set"></i><]-->
      <!--[><figcaption>Bar sets</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[>[> === icon item === <]<]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-lightning"></i><]-->
      <!--[><figcaption>Lightning</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[>[> === icon item === <]<]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-carpet"></i><]-->
      <!--[><figcaption>Varpet</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--[>[> === icon item === <]<]-->

      <!--[><a href="#"><]-->
      <!--[><figure><]-->
      <!--[><i class="f-icon f-icon-accessories"></i><]-->
      <!--[><figcaption>Accessories</figcaption><]-->
      <!--[></figure><]-->
      <!--[></a><]-->

      <!--</div> [>/owl-icons<]-->
      <!--</div> [>/container<]-->
      <!--</section>-->

      <!--[> ========================  Products widget ======================== <]-->
      <!--<section class="products">-->
      <section class="about">
        <div class="container">
          <h2>Комманда INTELLMEB</h2>
          <p style="margin-bottom: 25px !important;"><b>INTELLMEB </b>– это молодая, энергично развивающаяся команда, идущая в ногу со временем, которая предлагает Вам современную, качественную мебель для дома и офиса по выгодной цене. Цена складывается из стоимости материалов, доставки, и работ по сборке. Вам не придется переплачивать, т.к. в цену не входит аренда торговых площадей, складских помещений и заработная плата штата сотрудников. Мы учтём все ваши пожелания и результат нашего любимого дела будет Вас радовать долгое время.</p>
          <div class="row">
            <div class="col-3">
              <h3>Широкий ассортимент</h3>
              <p>Мы предлагаем Вам широкий ассортимент мебели: кухни, гардеробные, детские, шкафы-купе, столы. Фурнитура и материалы от ведущих производителей.</p>
            </div>
            <div class="col-3">
              <h3>Индивидуальный подход</h3>
              <p>После оформления заказа мы направим к Вам специалиста, который сделает необходимые замеры, нарисует эскиз, учитывая Ваши пожелания, поможет выбрать материалы, рассчитает предварительную стоимость.</p></div>
            <div class="col-3">
              <h3>Технологичные решения</h3>
              <p>Используя современные инструменты моделирования и 3D-визуализации, мы подготовим индивидуальный дизайн-проект с учётом особенностей Вашего помещения</p>
            </div>
            <div class="col-3">
              <h3>Надежный результат</h3>
              <p>Наш опыт позволяет изготавливать любую мебель с учётом ваших пожеланий. Работа с надёжными производителями: Egger, Krono, Glaverbel, Italum, Decospan, позволяет делать мебель высокого качества.</p>
            </div>
          </div>
        </div>
      </section>
      <!--<div class="container">-->

      <!--[> === header title === <]-->

      <!--<header>-->
      <!--<div class="row">-->
      <!--<div class="col-md-offset-2 col-md-8 text-center">-->
      <!--<h2 class="title">Popular products</h2>-->
      <!--<div class="text">-->
      <!--<p>Check out our latest collections</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</header>-->

      <!--<div class="row">-->

      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->

      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->
      <!--<div class="col-md-4 col-xs-6">-->
      <!--<article>-->
      <!--[><div class="info"><]-->
      <!--[><span class="add-favorite"><]-->
      <!--[><a href="javascript:void(0);" data-title="Add to favorites" data-title-added="Added to favorites list"><i class="icon icon-heart"></i></a><]-->
      <!--[></span><]-->
      <!--[><span><]-->
      <!--[><a href="#productid1" class="mfp-open" data-title="Quick wiew"><i class="icon icon-eye"></i></a><]-->
      <!--[></span><]-->
      <!--[></div><]-->
      <!--<div class="btn btn-add" data-toggle="modal" data-target="#exampleModal">-->
      <!--<i class="icon icon-cart"></i>-->
      <!--</div>-->
      <!--<div class="figure-grid">-->
      <!--<div class="image">-->
      <!--<a href="#productid1" class="mfp-open">-->
      <!--<img src="/images/Kukhnya2.jpg" alt="" width="360">-->
      <!--</a>-->
      <!--</div>-->
      <!--[><div class="text"><]-->
      <!--[><h2 class="title h4"><a href="product.html">Laura</a></h2><]-->
      <!--[><sub>$ 3999,-</sub><]-->
      <!--[><sup>$ 3499,-</sup><]-->
      <!--[><span class="description clearfix">Gubergren amet dolor ea diam takimata consetetur facilisis blandit et aliquyam lorem ea duo labore diam sit et consetetur nulla</span><]-->
      <!--[></div><]-->
      <!--</div>-->
      <!--</article>-->
      <!--</div>-->

      <!--</div> [>/row<]-->
      <!--[> === button more === <]-->

      <!--<div class="wrapper-more">-->
      <!--<a href="products-grid.html" class="btn btn-main">View store</a>-->
      <!--</div>-->

      <!--[> ========================  Product info popup - quick view ======================== <]-->

      <!--<div class="popup-main mfp-hide" id="productid1">-->

      <!--[> === product popup === <]-->

      <!--<div class="product">-->

      <!--[> === popup-title === <]-->

      <!--<div class="popup-title">-->
      <!--<div class="h1 title">Laura <small>product category</small></div>-->
      <!--</div>-->

      <!--[> === product gallery === <]-->

      <!--<div class="owl-product-gallery">-->
      <!--<img src="/images/product-1.png" alt="" width="640">-->
      <!--<img src="/images/product-2.png" alt="" width="640">-->
      <!--<img src="/images/product-3.png" alt="" width="640">-->
      <!--<img src="/images/product-4.png" alt="" width="640">-->
      <!--</div>-->

      <!--[> === product-popup-info === <]-->

      <!--<div class="popup-content">-->
      <!--<div class="product-info-wrapper">-->
      <!--<div class="row">-->

      <!--[> === left-column === <]-->

      <!--<div class="col-sm-6">-->
      <!--<div class="info-box">-->
      <!--<strong>Maifacturer</strong>-->
      <!--<span>Brand name</span>-->
      <!--</div>-->
      <!--<div class="info-box">-->
      <!--<strong>Materials</strong>-->
      <!--<span>Wood, Leather, Acrylic</span>-->
      <!--</div>-->
      <!--<div class="info-box">-->
      <!--<strong>Availability</strong>-->
      <!--<span><i class="fa fa-check-square-o"></i> in stock</span>-->
      <!--</div>-->
      <!--</div>-->

      <!--[> === right-column === <]-->

      <!--<div class="col-sm-6">-->
      <!--<div class="info-box">-->
      <!--<strong>Available Colors</strong>-->
      <!--<div class="product-colors clearfix">-->
      <!--<span class="color-btn color-btn-red"></span>-->
      <!--<span class="color-btn color-btn-blue checked"></span>-->
      <!--<span class="color-btn color-btn-green"></span>-->
      <!--<span class="color-btn color-btn-gray"></span>-->
      <!--<span class="color-btn color-btn-biege"></span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="info-box">-->
      <!--<strong>Choose size</strong>-->
      <!--<div class="product-colors clearfix">-->
      <!--<span class="color-btn color-btn-biege">S</span>-->
      <!--<span class="color-btn color-btn-biege checked">M</span>-->
      <!--<span class="color-btn color-btn-biege">XL</span>-->
      <!--<span class="color-btn color-btn-biege">XXL</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div> [>/row<]-->
      <!--</div> [>/product-info-wrapper<]-->
      <!--</div> [>/popup-content<]-->
      <!--[> === product-popup-footer === <]-->

      <!--<div class="popup-table">-->
      <!--<div class="popup-cell">-->
      <!--<div class="price">-->
      <!--<span class="h3">$ 1999,00 <small>$ 2999,00</small></span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="popup-cell">-->
      <!--<div class="popup-buttons">-->
      <!--<a href="product.html"><span class="icon icon-eye"></span> <span class="hidden-xs">View more</span></a>-->
      <!--<a href="javascript:void(0);"><span class="icon icon-cart"></span> <span class="hidden-xs">Buy</span></a>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->

      <!--</div> [>/product<]-->
      <!--</div> [>popup-main<]-->
      <!--</div> [>/container<]-->
      <!--</section>-->

      <!-- ========================  Stretcher widget ======================== -->

      <section class="stretcher-wrapper">

        <!-- === stretcher header === -->

        <header class="hidden">
          <!--remove class 'hidden'' to show section header -->
          <div class="container">
            <div class="row">
              <div class="col-md-offset-2 col-md-8 text-center">
                <h1 class="h2 title">Popular categories</h1>
                <div class="text">
                  <p>
                    Whether you are changing your home, or moving into a new one, you will find a huge selection of quality living room furniture,
                    bedroom furniture, dining room furniture and the best value at Furniture factory
                  </p>
                </div>
              </div>
            </div>
          </div>
        </header>

        <!-- === stretcher === -->

        <ul class="stretcher">

          <!-- === stretcher item === -->

          <li class="stretcher-item" style="background-image:url(/images/middle/kitchen_middle_1.png);">
            <!--logo-item-->
            <div class="stretcher-logo">
              <div class="text">
                <span class="f-icon f-icon-kitchen"></span>
                <span class="text-intro">Кухни</span>
              </div>
            </div>
            <!--main text-->
            <figure>
              <h4>Modern furnishing projects</h4>
              <figcaption>New furnishing ideas</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
          </li>

          <!-- === stretcher item === -->

          <li class="stretcher-item" style="background-image:url(/images/middle/children_group_middle_1.png);">
            <!--logo-item-->
            <div class="stretcher-logo">
              <div class="text">
                <span class="f-icon f-icon-children-room"></span>
                <span class="text-intro">Детские комнаты</span>
              </div>
            </div>
            <!--main text-->
            <figure>
              <h4>Furnishing and complements</h4>
              <figcaption>Discover the design table collection</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
          </li>

          <!-- === stretcher item === -->

          <li class="stretcher-item" style="background-image:url(/images/middle/coupe_middle_1.png);">
            <!--logo-item-->
            <div class="stretcher-logo">
              <div class="text">
                <span class="f-icon f-icon-wardrobe"></span>
                <span class="text-intro">Шкафы купе</span>
              </div>
            </div>
            <!--main text-->
            <figure>
              <h4>Which is Best for Your Home</h4>
              <figcaption>Wardrobes vs Walk-In Closets</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
          </li>

          <!-- === stretcher item === -->

          <li class="stretcher-item" style="background-image:url(/images/middle/waudrobe_middle_1.png);">
            <!--logo-item-->
            <div class="stretcher-logo">
              <div class="text">
                <span class="f-icon f-icon-shoe-cabinet"></span>
                <span class="text-intro">Гардеробные</span>
              </div>
            </div>
            <!--main text-->
            <figure>
              <h4>Keeping Things Minimal</h4>
              <figcaption>Creating Your Very Own Bathroom</figcaption>
            </figure>
            <!--anchor-->
            <a href="#">Anchor link</a>
          </li>

          <!-- === stretcher item more=== -->

          <li class="stretcher-item more">
            <div class="more-icon">
              <span data-title-show="Show more" data-title-hide="+"></span>
            </div>
            <a href="#"></a>
          </li>

        </ul>
      </section>

      <!-- ========================  Blog Block ======================== -->

      <section class="steps">
        <div class="container">
          <!--<h2>Позвоните сегодня и уже через две недели мебель будет у Вас</h2>-->
          <img src="images/steps.svg" alt="">
        </div>
      </section>


      <section class="banner" style="background-image:url(/images/gallery-4.jpg)">
        <div class="container">
          <h2 class="title">Наши преимущества</h2>
          <div class="container">
            <div class="row">
              <div class="col-4">
                <h4>Гибкая цена</h4>
                <p>Широкий ассортимент мебельной фурнитуры и используемых материалов — это хорошая возможность подобрать подходящее решение под Ваш бюджет.</p>
              </div>
              <div class="col-4">
                <h4 style="margin-bottom: 9px;">Реализация нестандартных решений</h4>
                <p>Изготовление мебели на заказ позволяет наиболее эффективно использовать имеющиеся площади и вписаться в концепцию Вашего интерьера.</p>
              </div>
              <div class="col-4">
                <h4>Высокое качество</h4>
                <p>INTELLMEB для нас не просто работу - это любимое дело. Данный подход позволяет добиться высоких итоговых результатов.</p>
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- ========================  Blog ======================== -->

      <section class="blog blog-block">

        <div class="container">


          <header>
            <div class="row">
              <div class="col-md-offset-2 col-md-8 text-center">
                <h2 class="title">Идеи интерьера</h2>
                <div class="text">
                  <p>в поисках вдохновения</p>
                </div>
              </div>
            </div>
          </header>

          <div class="row">


            <div class="col-sm-4">
              <article>
                <a href="article.html">
                  <div class="image">
                    <img src="/images/cot_house.png" alt="">
                  </div>
                  <div class="entry entry-block">
                    <div class="date">23.03.2020</div>
                    <div class="title">
                      <h2 class="h3">Кровать-домик в детской комнате</h2>
                    </div>
                    <div class="description">
                      <p>
                        You’ve finally reached this point in your life- you’ve bought your first home, moved
                        into your very own apartment, moved out of the dorm room or you’re finally downsizing
                        after all of your kids have left the nest.
                      </p>
                    </div>
                  </div>
                  <div class="show-more">
                    <span class="btn btn-main btn-block">Подробнее</span>
                  </div>
                </a>
              </article>
            </div>


            <div class="col-sm-4">
              <article>
                <a href="article.html">
                  <div class="image">
                    <img src="/images/coupe.png" alt="">
                  </div>
                  <div class="entry entry-block">
                    <div class="date">23.03.2020</div>
                    <div class="title">
                      <h2 class="h3">Как выбрать</br>шкаф-купе</h2>
                    </div>
                    <div class="description">
                      <p>
                        You’ve finally reached this point in your life- you’ve bought your first home, moved
                        into your very own apartment, moved out of the dorm room or you’re finally downsizing
                        after all of your kids have left the nest.
                      </p>
                    </div>
                  </div>
                  <div class="show-more">
                    <span class="btn btn-main btn-block">Подробнее</span>
                  </div>
                </a>
              </article>
            </div>


            <div class="col-sm-4">
              <article>
                <a href="article.html">
                  <div class="image">
                    <img src="/images/kitchen.png" alt="">
                  </div>
                  <div class="entry entry-block">
                    <div class="date">23.03.2020</div>
                    <div class="title">
                      <h2 class="h3">Как выбрать кухню, чтобы потом ни о чем не жалеть</h2>
                    </div>
                    <div class="description">
                      <p>
                        You’ve finally reached this point in your life- you’ve bought your first home, moved
                        into your very own apartment, moved out of the dorm room or you’re finally downsizing
                        after all of your kids have left the nest.
                      </p>
                    </div>
                  </div>
                  <div class="show-more">
                    <span class="btn btn-main btn-block">Подробнее</span>
                  </div>
                </a>
              </article>
            </div>

          </div> 

          <!--[><div class="wrapper-more"><]-->
          <!--[><a href="ideas.html" class="btn btn-main">View all posts</a><]-->
          <!--[></div><]-->

        </div> 
      </section>
      <!--<section class="blog">-->

      <!--<div class="container">-->

      <!--[> === blog header === <]-->

      <!--<header>-->
      <!--<div class="row">-->
      <!--<div class="col-md-offset-2 col-md-8 text-center">-->
      <!--<h1 class="h2 title">Blog</h1>-->
      <!--<div class="text">-->
      <!--<p>Latest news from the blog</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</header>-->

      <!--<div class="row">-->

      <!--[> === blog item === <]-->

      <!--<div class="col-sm-4">-->
      <!--<article>-->
      <!--<a href="article.html">-->
      <!--<div class="image" style="background-image:url(/images/blog-1.jpg)">-->
      <!--<img src="/images/blog-1.jpg" alt="">-->
      <!--</div>-->
      <!--<div class="entry entry-table">-->
      <!--<div class="date-wrapper">-->
      <!--<div class="date">-->
      <!--<span>MAR</span>-->
      <!--<strong>08</strong>-->
      <!--<span>2017</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="title">-->
      <!--<h2 class="h5">The 3 Tricks that Quickly Became Rules</h2>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="show-more">-->
      <!--<span class="btn btn-main btn-block">Read more</span>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->
      <!--</div>-->

      <!--[> === blog item === <]-->

      <!--<div class="col-sm-4">-->
      <!--<article>-->
      <!--<a href="article.html">-->
      <!--<div class="image" style="background-image:url(/images/blog-2.jpg)">-->
      <!--<img src="/images/blog-1.jpg" alt="">-->
      <!--</div>-->
      <!--<div class="entry entry-table">-->
      <!--<div class="date-wrapper">-->
      <!--<div class="date">-->
      <!--<span>MAR</span>-->
      <!--<strong>03</strong>-->
      <!--<span>2017</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="title">-->
      <!--<h2 class="h5">Decorating When You're Starting Out or Starting Over</h2>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="show-more">-->
      <!--<span class="btn btn-main btn-block">Read more</span>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->
      <!--</div>-->

      <!--[> === blog item === <]-->

      <!--<div class="col-sm-4">-->
      <!--<article>-->
      <!--<a href="article.html">-->
      <!--<div class="image" style="background-image:url(/images/blog-8.jpg)">-->
      <!--<img src="/images/blog-8.jpg" alt="">-->
      <!--</div>-->
      <!--<div class="entry entry-table">-->
      <!--<div class="date-wrapper">-->
      <!--<div class="date">-->
      <!--<span>MAR</span>-->
      <!--<strong>01</strong>-->
      <!--<span>2017</span>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="title">-->
      <!--<h2 class="h5">What does your favorite dining chair say about you?</h2>-->
      <!--</div>-->
      <!--</div>-->
      <!--<div class="show-more">-->
      <!--<span class="btn btn-main btn-block">Read more</span>-->
      <!--</div>-->
      <!--</a>-->
      <!--</article>-->
      <!--</div>-->

      <!--</div> [>/row<]-->
      <!--[> === button more === <]-->

      <!--<div class="wrapper-more">-->
      <!--<a href="blog-grid.html" class="btn btn-main">View all posts</a>-->
      <!--</div>-->

      <!--</div> [>/container<]-->
      <!--</section>-->

      <!-- ========================  Instagram ======================== -->

      <!--<section class="instagram">-->

      <!--[> === instagram header === <]-->

      <!--<header>-->
      <!--<div class="container">-->
      <!--<div class="row">-->
      <!--<div class="col-md-offset-2 col-md-8 text-center">-->
      <!--<h2 class="h2 title">Follow us <i class="fa fa-instagram fa-2x"></i> Instagram </h2>-->
      <!--<div class="text">-->
      <!--<p>@InstaFurnitureFactory</p>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <!--</header>-->

      <!--[> === instagram gallery === <]-->

      <!--<div class="gallery clearfix">-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-1.jpg" alt="Alternate Text">-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-2.jpg" alt="Alternate Text">-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-3.jpg" alt="Alternate Text">-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-4.jpg" alt="Alternate Text">-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-5.jpg" alt="Alternate Text">-->
      <!--</a>-->
      <!--<a class="item" href="#">-->
      <!--<img src="/images/square-6.jpg" alt="Alternate Text">-->
      <!--</a>-->

      <!--</div> [>/gallery<]-->

      <!--</section>-->

      <footer>
        <div class="container">

          <!--footer showroom-->
          <div class="footer-showroom">
            <div class="row">
              <div class="col-sm-8">
                <h2>Режим работы</h2>
                <p>вторник - воскресенье   |   с 10:00 до 20:00</p>
                <p>понедельник - выходной</p>
              </div>
              <div class="col-sm-4 text-center">
                <a href="#" class="btn btn-clean">Заказать звонок</a>
                <div class="call-us h4"><span class="icon icon-phone-handset"></span> 8 (495) 946-60-95</div>
              </div>
            </div>
          </div>

          <!--[>footer links<]-->
          <!--<div class="footer-links">-->
          <!--<div class="row">-->
          <!--<div class="col-sm-4 col-md-2">-->
          <!--<h5>Browse by</h5>-->
          <!--<ul>-->
          <!--<li><a href="#">Brand</a></li>-->
          <!--<li><a href="#">Product</a></li>-->
          <!--<li><a href="#">Category</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-sm-4 col-md-2">-->
          <!--<h5>Recources</h5>-->
          <!--<ul>-->
          <!--<li><a href="#">Design</a></li>-->
          <!--<li><a href="#">Projects</a></li>-->
          <!--<li><a href="#">Sales</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-sm-4 col-md-2">-->
          <!--<h5>Our company</h5>-->
          <!--<ul>-->
          <!--<li><a href="#">About</a></li>-->
          <!--<li><a href="#">News</a></li>-->
          <!--<li><a href="#">Contact</a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--<div class="col-sm-12 col-md-6">-->
          <!--<h5>Sign up for our newsletter</h5>-->
          <!--<p><i>Add your email address to sign up for our monthly emails and to receive promotional offers.</i></p>-->
          <!--<div class="form-group form-newsletter">-->
          <!--<input class="form-control" type="text" name="email" value="" placeholder="Email address">-->
          <!--<input type="submit" class="btn btn-clean btn-sm" value="Subscribe">-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->
          <!--</div>-->

          <!--footer social-->

          <!--<div class="footer-social">-->
          <!--<div class="row">-->
          <!--<div class="col-sm-6">-->
          <!--<a href="https://themeforest.net/item/mobel-furniture-website-template/20382155" target="_blank"><i class="fa fa-download"></i> Download Mobel</a> &nbsp; | <a href="#">Sitemap</a> &nbsp; | &nbsp; <a href="#">Privacy policy</a>-->
          <!--</div>-->
          <!--<div class="col-sm-6 links">-->
          <!--<ul>-->
          <!--<li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-youtube"></i></a></li>-->
          <!--<li><a href="#"><i class="fa fa-instagram"></i></a></li>-->
          <!--</ul>-->
          <!--</div>-->
          <!--</div>-->
      </footer>

      <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-105330313-1"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-105330313-1');
      </script>
          </div>
        </div>

    </div> <!--/wrapper-->
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!--JS bundle -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bundle.min.js"></script>


  </body></html>

