
.black {
  color: black;
}
.steps {
  text-align: center;
  background-color: #eee;
}

.steps h2 {
  color: black;
  text-align: center;
  margin-bottom: 40px;
}

.steps div {
  text-align: center;
}

.steps div img {
  width: 80%;
  height: auto;
}

.steps button {
  margin-top: 40px;
}

.stretcher-logo {
  background-color: rgba(150, 150, 150, .2);
}

.about h2 {
  color: #111;
  text-align: center;
}

.about p {
  text-align: justify;
}

.banner h2 {
  text-align: center;
}

h3 {
  font-size: 20px;
  color: #000;
}

h4 {
  font-size: 16px;
}

footer .footer-showroom {
  padding-top: 30px;
  padding-bottom: 25px;
  margin-bottom: 0;
}

.modal-body>p {
  text-align: justify;
}

.modal-header .close {
  margin-top: -6px !important;
}

.notValid {
  color: red;
  font-weight: bold;
  display: none;
}.
